@import "vars";
.txt-red-100 {
    color: $red100;
}

.bg-red-100 {
    background-color: $red100;
}

.bg-red-100 {
    background-color: $red200;
}

.bg-green-100 {
    background-color: $green100;
}

.bg-green-200 {
    background-color: $green200;
}

.bg-green-500 {
    background-color: $green500;
}