$primary: #d3ab55;
$red100: #f77c7c;
$red200: rgb(252, 135, 135);
$white: #ffffff;
$green100: #1eff00;
$green200: rgb(197, 252, 135);
$green500: #0f8500;
$black: #000;
$white: #fff;
$slate50:#f8fafc;
$slate100:#f1f5f9;
$slate200:#e2e8f0;
$slate300:#cbd5e1;
$slate400:#94a3b8;
$slate500:#64748b;
$slate600:#475569;
$slate700:#334155;
$slate800:#475569;
$slate900:#0f172a;
$gray50: #f9fafb;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray500: #6b7280;
$gray600: #4b5563;
$gray700: #374151;
$gray800: #1f2937;
$gray900: #111827;
$zinc50: #fafafa;
$zinc100: #f4f4f5;
$zinc200: #e4e4e7;
$zinc300: #d4d4d8;
$zinc400: #a1a1aa;
$zinc500: #71717a;
$zinc600: #52525b;
$zinc700: #3f3f46;
$zinc800: #27272a;
$zinc900: #18181b;
$neutral50: #fafafa;
$neutral100: #f5f5f5;
$neutral200: #e5e5e5;
$neutral300: #d4d4d4;
$neutral400: #a3a3a3;
$neutral500: #737373;
$neutral600: #525252;
$neutral700: #404040;
$neutral800: #262626;
$neutral900: #171717;