@import "../vars";
.f-bg-black {
    background-color: $black;
}

.f-bg-white {
    background-color: $white;
}

.f-bg-slate-50 {
    background-color: $slate50;
}

.f-bg-slate-100 {
    background-color: $slate100;
}

.f-bg-slate-200 {
    background-color: $slate200;
}

.f-bg-slate-300 {
    background-color: $slate300;
}

.f-bg-slate-400 {
    background-color: $slate400;
}

.f-bg-slate-500 {
    background-color: $slate500;
}

.f-bg-slate-600 {
    background-color: $slate600;
}

.f-bg-slate-700 {
    background-color: $slate700;
}

.f-bg-slate-800 {
    background-color: $slate800;
}

.f-bg-slate-900 {
    background-color: $slate900;
}