@import "../vars";
.f-txt-black {
    color: $black;
}

.f-txt-white {
    color: $white;
}

.f-txt-slate-50 {
    color: $slate50;
}

.f-txt-slate-100 {
    color: $slate100;
}

.f-txt-slate-200 {
    color: $slate200;
}

.f-txt-slate-300 {
    color: $slate300;
}

.f-txt-slate-400 {
    color: $slate400;
}

.f-txt-slate-500 {
    color: $slate500;
}

.f-txt-slate-600 {
    color: $slate600;
}

.f-txt-slate-700 {
    color: $slate700;
}

.f-txt-slate-800 {
    color: $slate800;
}

.f-txt-slate-900 {
    color: $slate900;
}