// xs or 1 in 576
@media only screen and (min-width: 1px) and (max-width: 576px) {
    .f-col-xs-1 {
        width: 8.33%;
    }
    .f-col-xs-2 {
        width: 16.66%;
    }
    .f-col-xs-3 {
        width: 25%;
    }
    .f-col-xs-4 {
        width: 33.33%;
    }
    .f-col-xs-5 {
        width: 41.66%;
    }
    .f-col-xs-6 {
        width: 50%;
    }
    .f-col-xs-7 {
        width: 58.33%;
    }
    .f-col-xs-8 {
        width: 66.66%;
    }
    .f-col-xs-9 {
        width: 75%;
    }
    .f-col-xs-10 {
        width: 83.33%;
    }
    .f-col-xs-11 {
        width: 91.66%;
    }
    .f-col-xs-12 {
        width: 100%;
    }
}

// sm or 577 in 767
@media only screen and (min-width: 577px) and (max-width: 767px) {
    .f-col-sm-1 {
        width: 8.33%;
    }
    .f-col-sm-2 {
        width: 16.66%;
    }
    .f-col-sm-3 {
        width: 25%;
    }
    .f-col-sm-4 {
        width: 33.33%;
    }
    .f-col-sm-5 {
        width: 41.66%;
    }
    .f-col-sm-6 {
        width: 50%;
    }
    .f-col-sm-7 {
        width: 58.33%;
    }
    .f-col-sm-8 {
        width: 66.66%;
    }
    .f-col-sm-9 {
        width: 75%;
    }
    .f-col-sm-10 {
        width: 83.33%;
    }
    .f-col-sm-11 {
        width: 91.66%;
    }
    .f-col-sm-12 {
        width: 100%;
    }
}

// md or 768 in 991
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .f-col-md-1 {
        width: 8.33%;
    }
    .f-col-md-2 {
        width: 16.66%;
    }
    .f-col-md-3 {
        width: 25%;
    }
    .f-col-md-4 {
        width: 33.33%;
    }
    .f-col-md-5 {
        width: 41.66%;
    }
    .f-col-md-6 {
        width: 50%;
    }
    .f-col-md-7 {
        width: 58.33%;
    }
    .f-col-md-8 {
        width: 66.66%;
    }
    .f-col-md-9 {
        width: 75%;
    }
    .f-col-md-10 {
        width: 83.33%;
    }
    .f-col-md-11 {
        width: 91.66%;
    }
    .f-col-md-12 {
        width: 100%;
    }
}

// lg or 992 in 1199
@media only screen and (min-width: 992px) and (max-with: 1199px) {
    .f-col-lg-1 {
        width: 8.33%;
    }
    .f-col-lg-2 {
        width: 16.66%;
    }
    .f-col-lg-3 {
        width: 25%;
    }
    .f-col-lg-4 {
        width: 33.33%;
    }
    .f-col-lg-5 {
        width: 41.66%;
    }
    .f-col-lg-6 {
        width: 50%;
    }
    .f-col-lg-7 {
        width: 58.33%;
    }
    .f-col-lg-8 {
        width: 66.66%;
    }
    .f-col-lg-9 {
        width: 75%;
    }
    .f-col-lg-10 {
        width: 83.33%;
    }
    .f-col-lg-11 {
        width: 91.66%;
    }
    .f-col-lg-12 {
        width: 100%;
    }
}

// xl or 1200 in 1300
@media only screen and (min-width: 1200px) and (max-with: 1399px) {
    .f-col-xl-1 {
        width: 8.33%;
    }
    .f-col-xl-2 {
        width: 16.66%;
    }
    .f-col-xl-3 {
        width: 25%;
    }
    .f-col-xl-4 {
        width: 33.33%;
    }
    .f-col-xl-5 {
        width: 41.66%;
    }
    .f-col-xl-6 {
        width: 50%;
    }
    .f-col-xl-7 {
        width: 58.33%;
    }
    .f-col-xl-8 {
        width: 66.66%;
    }
    .f-col-xl-9 {
        width: 75%;
    }
    .f-col-xl-10 {
        width: 83.33%;
    }
    .f-col-xl-11 {
        width: 91.66%;
    }
    .f-col-xl-12 {
        width: 100%;
    }
}

// all media 1 in 1399
@media only screen and (min-width: 1px) and (max-with: 1399px) {
    .f-col-1 {
        width: 8.33%;
    }
    .f-col-2 {
        width: 16.66%;
    }
    .f-col-3 {
        width: 25%;
    }
    .f-col-4 {
        width: 33.33%;
    }
    .f-col-5 {
        width: 41.66%;
    }
    .f-col-6 {
        width: 50%;
    }
    .f-col-7 {
        width: 58.33%;
    }
    .f-col-8 {
        width: 66.66%;
    }
    .f-col-9 {
        width: 75%;
    }
    .f-col-10 {
        width: 83.33%;
    }
    .f-col-11 {
        width: 91.66%;
    }
    .f-col-12 {
        width: 100%;
    }
}