@import "../vars";
@import "../mixins/index";
@import "../styles/flex";
.f-alert {
    text-align: center;
    margin: 1%;
    padding: 2%;
}

.f-alert-danger {
    @include redBorder;
    @extend .bg-red-100;
}

.f-alert-success {
    @include greenBorder;
    @extend .bg-green-200;
}