@import "../vars";
.f-form-control {
    width: 97%;
    height: 20px;
    border-radius: 5px;
    background-color: $white;
    border: gray solid 1px;
    margin: 2px;
}

.f-form-group {
    width: 100%;
    // padding: 0 10px 0 10px;
    // overflow: auto;
    // align-items: center;
}