// -----------border-----------
.f_border_1 {
    border: 1px silver solid;
}

.f_border_2 {
    border: 2px silver solid;
}

.f_border_3 {
    border: 3px silver solid;
}

.f_border_4 {
    border: 4px silver solid;
}

.f_border_5 {
    border: 5px silver solid;
}

// -----------border-radius-----------
.f_rounded_1 {
    border-radius: 10px;
}

.f_rounded_2 {
    border-radius: 20px;
}

.f_rounded_3 {
    border-radius: 30px;
}

.f_rounded_4 {
    border-radius: 40px;
}

.f_rounded_5 {
    border-radius: 50px;
}