// shadow box
.f-box-shadow-1 {
    box-shadow: 1px 1px 3px 3px rgb(193, 193, 193);
}

.f-box-shadow-2 {
    box-shadow: 1px 1px 5px 5px rgb(193, 193, 193);
}

.f-box-shadow-3 {
    box-shadow: 1px 1px 7px 7px rgb(193, 193, 193);
}

.f-box-shadow-4 {
    box-shadow: 1px 1px 9px 9px rgb(193, 193, 193);
}

.f-box-shadow-5 {
    box-shadow: 1px 1px 11px 11px rgb(193, 193, 193);
}