// ----------column-----------
.f-column-1 {
    columns: 1;
    text-align: center;
}

.f-column-2 {
    columns: 2;
    text-align: center;
}

.f-column-3 {
    columns: 3;
    text-align: center;
}

.f-column-4 {
    columns: 4;
    text-align: center;
}

.f-column-5 {
    columns: 5;
    text-align: center;
}