// width
.f-w-10 {
    width: 10px;
}

.f-w-20 {
    width: 20px;
}

.f-w-30 {
    width: 30%;
}

.f-w-40 {
    width: 40%;
}

.f-w-50 {
    width: 50%;
}

.f-w-60 {
    width: 60%;
}

.f-w-70 {
    width: 70%;
}

.f-w-80 {
    width: 80%;
}

.f-w-90 {
    width: 90%;
}

.f-w-100 {
    width: 100%;
}

// rounded
.f-rounded-sm {
    border-radius: 25px;
}

.f-rounded-md {
    border-radius: 50px;
}

// border
.f-border-1 {
    border-color: black;
}

.f-border-2 {
    border: 2px;
}

.f-border-silver {
    border: silver;
}