@import "flex";
// width
.f-w-10 {
    width: 10px;
}

.f-w-20 {
    width: 20px;
}

.f-w-30 {
    width: 30%;
}

.f-w-40 {
    width: 40%;
}

.f-w-50 {
    width: 50%;
}

.f-w-60 {
    width: 60%;
}

.f-w-70 {
    width: 70%;
}

.f-w-80 {
    width: 80%;
}

.f-w-90 {
    width: 90%;
}

.f-w-100 {
    width: 100%;
}

// rounded
.f-rounded-1 {
    border-radius: 1px;
}

.f-rounded-2 {
    border-radius: 2px;
}

.f-rounded-3 {
    border-radius: 3px;
}

.f-rounded-4 {
    border-radius: 4px;
}

.f-rounded-5 {
    border-radius: 5px;
}

.f-rounded-6 {
    border-radius: 6px;
}

.f-rounded-7 {
    border-radius: 7px;
}

.f-rounded-8 {
    border-radius: 8px;
}

.f-rounded-9 {
    border-radius: 9px;
}

.f-rounded-10 {
    border-radius: 10px;
}

.f-rounded-11 {
    border-radius: 11px;
}

.f-rounded-12 {
    border-radius: 12px;
}

.f-rounded-13 {
    border-radius: 13px;
}

.f-rounded-14 {
    border-radius: 14px;
}

.f-rounded-15 {
    border-radius: 15px;
}

.f-rounded-16 {
    border-radius: 16px;
}

.f-rounded-17 {
    border-radius: 17px;
}

.f-rounded-18 {
    border-radius: 18px;
}

.f-rounded-19 {
    border-radius: 19px;
}

.f-rounded-20 {
    border-radius: 20px;
}

// border
.f-border-1 {
    width: 100px;
    border: 1px silver solid;
}

.f-border-2 {
    width: 200px;
    border: 1px silver solid;
}

.f-border-3 {
    width: 300px;
    border: 1px silver solid;
}

.f-border-4 {
    width: 400px;
    border: 1px silver solid;
}

.f-border-5 {
    width: 500px;
    border: 1px silver solid;
}

.f-border-silver {
    border: silver;
}

// padding left
.f-pl-1 {
    padding-left: 1%;
}

.f-pl-2 {
    padding-left: 2%;
}

.f-pl-3 {
    padding-left: 3%;
}

.f-pl-4 {
    padding-left: 4%;
}

.f-pl-5 {
    padding-left: 5%;
}

// padding right
.f-pr-1 {
    padding-right: 1%;
}

.f-pr-2 {
    padding-right: 2%;
}

.f-pr-3 {
    padding-right: 3%;
}

.f-pr-4 {
    padding-right: 4%;
}

.f-pr-5 {
    padding-right: 5%;
}

// padding top
.f-pt-1 {
    padding-top: 1%;
}

.f-pt-2 {
    padding-top: 2%;
}

.f-pt-3 {
    padding-top: 3%;
}

.f-pt-4 {
    padding-top: 4%;
}

.f-pt-5 {
    padding-top: 5%;
}

// padding bottom
.f-pb-1 {
    padding-bottom: 1%;
}

.f-pb-2 {
    padding-bottom: 2%;
}

.f-pb-3 {
    padding-bottom: 3%;
}

.f-pb-4 {
    padding-bottom: 4%;
}

.f-pb-5 {
    padding-bottom: 5%;
}

// padding full
.f-p-1 {
    padding: 1%;
}

.f-p-2 {
    padding: 2%;
}

.f-p-3 {
    padding: 3%;
}

.f-p-4 {
    padding: 4%;
}

.f-p-5 {
    padding: 5%;
}

// margin left
.f-ml-1 {
    margin-left: 1%;
}

.f-ml-2 {
    margin-left: 2%;
}

.f-ml-3 {
    margin-left: 3%;
}

.f-ml-4 {
    margin-left: 4%;
}

.f-ml-5 {
    margin-left: 5%;
}

// margin right
.f-mr-1 {
    padding-right: 1%;
}

.f-mr-2 {
    margin-right: 2%;
}

.f-mr-3 {
    margin-right: 3%;
}

.f-mr-4 {
    margin-right: 4%;
}

.f-mr-5 {
    margin-right: 5%;
}

// margin top
.f-mt-1 {
    margin-top: 1%;
}

.f-mt-2 {
    margin-top: 2%;
}

.f-mt-3 {
    margin-top: 3%;
}

.f-mt-4 {
    margin-top: 4%;
}

.f-mt-5 {
    margin-top: 5%;
}

// margin bottom
.f-mb-1 {
    margin-bottom: 1%;
}

.f-mb-2 {
    margin-bottom: 2%;
}

.f-mb-3 {
    margin-bottom: 3%;
}

.f-mb-4 {
    margin-bottom: 4%;
}

.f-mb-5 {
    margin-bottom: 5%;
}

// margin full
.f-m-1 {
    margin: 1%;
}

.f-m-2 {
    margin: 2%;
}

.f-m-3 {
    margin: 3%;
}

.f-m-4 {
    margin: 4%;
}

.f-m-5 {
    margin: 5%;
}

// row
.f-row {
    border: none;
    height: auto;
    width: auto;
    // display: flex;
    margin: auto;
    padding: 1%;
}

// container
.f-container {
    border: none;
    height: auto;
    width: auto;
    margin: auto;
    padding: auto;
}

// order
.f-order-1 {
    order: 1;
}

.f-order-2 {
    order: 2;
}

.f-order-3 {
    order: 3;
}

.f-order-4 {
    order: 4;
}

.f-order-5 {
    order: 5;
}

//----------width----------
.f-w-25 {
    width: 25%;
}

.f-w-50 {
    width: 50%;
}

.f-w-75 {
    width: 75%;
}

.f-w-100 {
    width: 100%;
}

//----------height----------
.f-h-25 {
    height: 25px;
}

.f-h-50 {
    height: 50px;
}

.f-h-75 {
    height: 75px;
}

.f-h-100 {
    height: 100px;
}

// ----------text-align----------
.f-text-center {
    text-align: center;
}

.f-text-right {
    text-align: right;
}

.f-text-left {
    text-align: left;
}