// shadow box
.f-txt-shadow-1 {
    text-shadow: 1px 1px 3px 3px;
}

.f-txt-shadow-2 {
    text-shadow: 1px 1px 5px 5px;
}

.f-txt-shadow-3 {
    text-shadow: 1px 1px 7px 7px;
}

.f-txt-shadow-4 {
    text-shadow: 1px 1px 9px 9px;
}

.f-txt-shadow-5 {
    text-shadow: 1px 1px 11px 11px;
}